<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>NYSee Now</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- FOR MAP -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header>
        <nav>
            {{#if user}}
                <span>User: {{user.username}}</span>
            {{/if}}
            <a href="/">Home</a>
            <a href="/events/search">Search Events</a>
            {{#if user}}
                <a href="/calendar">View Calendar</a>
                <a href="/users/logout">Logout</a>
            {{else}}
                <a href="/users/login">Login</a>
                <a href="/users/register">Register</a>
            {{/if}}
        </nav>
        <hr>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/client.js"></script>
</body>
</html>
