<h1>Your Event Calendar</h1>
<p>Click on event to view event information</p>
<p>Click on day to search and save events occuring that day</p>

<div id="calendar-controls">
  <button id="prev">Previous</button>
  <span id="month-year"></span>
  <button id="next">Next</button>
</div>

<div id="calendar"></div>

<script>
  const events = {{{json events}}};
</script>

<script src="/public/js/calendar.js"></script>