<div class="content-wrapper-center">
    <h1>Create a New Event</h1>
</div>

<div class="content-wrapper-center">
    <div>
        <div id="error-here">
            {{#if error}}
            <p>{{error}}</p>
            {{/if}}
        </div>
        <form action="/events/create" method="POST" id="event-form">
            <div class="form-group">
                <label for="eventName">
                    Event Name
                </label>
                <input type="text" name="eventName" id="eventName" class="form-input">
            </div>
            <div class="form-group">
                <label for="eventType">
                    Event Type
                </label>
                <select name="eventType" id="eventType" class="form-input">
                    <option value="">...</option>
                    <option value="Special Event">Special Event</option>
                    <option value="Sport - Adult">Sport - Adult</option>
                    <option value="Sport - Youth">Sport - Youth</option>
                    <option value="Production Event">Production Event</option>
                    <option value="Open Street Partner Event">Open Street Partner Event</option>
                    <option value="Plaza Partner Event">Plaza Partner Event</option>
                    <option value="Street Event">Street Event</option>
                    <option value="Religious Event">Religious Event</option>
                    <option value="Farmers Market">Farmers Market</option>
                    <option value="Sidewalk Sale">Sidewalk Sale</option>
                    <option value="Theater Load in and Load Outs">Theater Load in and Load Outs</option>
                    <option value="Parade">Parade</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Plaza Event">Plaza Event</option>
                    <option value="Block Party">Block Party</option>
                    <option value="Clean-Up">Clean-Up</option>
                </select>
            </div>
            <div class="form-group">
                <label for="eventLocation">
                    Location
                </label>
                <input type="text" name="eventLocation" id="eventLocation" class="form-input">
            </div>
            <div class="form-group">
                <label for="eventBorough">
                    Borough
                </label>
                <select name="eventBorough" id="eventBorough" class="form-input">
                    <option value="">...</option>
                    <option value="bronx">Bronx</option>
                    <option value="brooklyn">Brooklyn</option>
                    <option value="manhattan">Manhattan</option>
                    <option value="queens">Queens</option>
                    <option value="staten island">Staten Island</option>
                </select>
            </div>
            <div class="form-group">
                <label for="startDateTime">
                    Start Date and Time
                </label>
                <input type="datetime-local" name="startDateTime" id="startDateTime" class="form-input">
            </div>
            <div class="form-group">
                <label for="endDateTime">
                    End Date and Time
                </label>
                <input type="datetime-local" name="endDateTime" id="endDateTime" class="form-input">
            </div>
            <div class="form-group">
                <label for="streetClosureType">
                    Road Closure
                </label>
                <input type="text" name="streetClosureType" id="streetClosureType" class="form-input">
            </div>
            <div class="form-group">
                <label for="communityBoard">
                    Community Board
                </label>
                <input type="text" name="communityBoard" id="communityBoard" class="form-input">
            </div>
            <div class="form-group">
                <label for="isPublic">
                    Event Visibility
                </label>
                <select name="isPublic" id="isPublic" class="form-input">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="form-group form-submit">
                <input type="submit" name="submit" id="submit" class="form-input">
            </div>
        </form>
    </div>
</div>
