<div class="content-wrapper-center">
    <h1>Event created sucessfully!</h1>
</div>
<div class="content-wrapper-center">
    <p style="font-size: 18px;">View your event <a href="/events/{{eventId}}">here</a>!</>
</div>
