#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 16px;
}

#calendar div {
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 80px;
  box-sizing: border-box;
  display: grid; 
}

#prev, #next {
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid #ccc;
}

#map {
  width: 100%;
  height: 500px;  /* Adjust height as needed */
  margin-top: 16px;
  border: 1px solid #ccc; /* Optional: border around the map */
}

/* Forms & related wrappers s*/

.content-wrapper-center {
  width: 100%;
  justify-content: center;
  display: flex;
}

.auth-form {
  border: solid;
  padding: 25px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  padding: 3px;
}

.form-submit {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 7px;
}