/* General */

body {
  margin: 0 0
}

main {
  margin: 0 8px;
}

h1 {
  margin-top: 0px;
}

/* Header / Nav */

.head {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: aliceblue;
}

.page-head {
  display: flex;
  width: 25%;
}

nav {
  padding: 0px 8px 0px 0px;
}

.auth-head {
  display: flex;
  justify-content: right;
  width: 25%
}

.head-logo {
  font-size: 21px
}

.head-entry {
  margin: 0em 0em 0em 0.5em;
}

.nav-username {
    margin-right: 15px;
}

/* Homepage */

.home {
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: flex-start;
  box-sizing: border-box;
}

.home-left-side {
  flex: 1;
}

.home-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.share-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.share-message {
  color: green;
  font-size: 14px;
  margin-left: 10px;
}

.home-right-side h2 {
  margin-top: 0px;
  margin-bottom: 0px
}

.home-right-side ul {
  margin-top: 0;
}

/* Calendar / Map */

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 16px;
}

#calendar div {
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 80px;
  box-sizing: border-box;
  display: grid; 
}

#prev, #next {
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid #ccc;
}

#map {
  width: 100%;
  height: 500px;
  margin: 0;
  border: 2px solid #ccc;
}

/* Forms & related wrappers s*/

.content-wrapper-center {
  width: 100%;
  justify-content: center;
  display: flex;
}

.auth-form {
  border: solid;
  padding: 25px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

p.form-label {
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  padding: 3px;
}

.form-submit {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 7px;
}

div.form-error {
    color: rgb(92, 0, 0);
    background-color: rgb(253, 165, 165);
    border: solid 1px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: small;
}

ul.form-error {
  padding-left: 15px;
  text-align: left;
}

label.form-radio {
  display: inline-flex;
}

div.form-radio {
  border: solid;
  border-width: 1px;
  flex-direction: column;
  width: 150px;
  padding: 8px;
  background-color: white;
}

span.req {
  color: red;
  padding-left: .15em;
}

.search-map-container {
  display: flex;
  gap: 20px; /* space between left and right */
  align-items: flex-start;
  margin-top: 16px;
  box-sizing: border-box;
}

/* Left column: form + results */
.search-left {
  flex: 1.5;
}

/* Right column: map */
.search-right {
  flex: 1;
}

#calendar div.weekday {
  font-weight: bold;
  text-align: center;
}


