body {
  background-color: aliceblue;
}

/* Header / Nav */

.head {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.page-head {
  display: flex;
  width: 25%;
}

nav {
  padding: 0px 8px 0px 0px;
}

.auth-head {
  display: flex;
  justify-content: right;
  width: 25%
}

.head-logo {
  font-size: 21px
}

.head-entry {
  margin: 0em 0em 0em 0.5em;
}

/* Homepage */

.home {
  display: flex;

}

.home-left {
  display: flex;
  flex-direction: column;
  width: 100%
}

.home-map {
  width: 100%;
}

/* Calendar / Map */

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 16px;
}

#calendar div {
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 80px;
  box-sizing: border-box;
  display: grid; 
}

#prev, #next {
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid #ccc;
}

#map {
  width: 100%;
  height: 500px;  /* Adjust height as needed */
  margin-top: 16px;
  border: 1px solid #ccc; /* Optional: border around the map */
}

/* Forms & related wrappers s*/

.content-wrapper-center {
  width: 100%;
  justify-content: center;
  display: flex;
}

.auth-form {
  border: solid;
  padding: 25px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

p.form-label {
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  padding: 3px;
}

.form-submit {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 7px;
}

div.form-error {
    color: rgb(92, 0, 0);
    background-color: rgb(253, 165, 165);
    border: solid 1px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: small;
}

ul.form-error {
  padding-left: 15px;
  text-align: left;
}

label.form-radio {
  display: inline-flex;
}

div.form-radio {
  border: solid;
  border-width: 1px;
  flex-direction: column;
  width: 150px;
  padding: 8px;
  background-color: white;
}