<div class="content-wrapper-center">
    <div class="auth-form">

        <div id="error-here">
            {{!-- need to verify how errors are returned
            {{#if hasErrors}}
            <div id="server-error" class="form-error">
                <p>The following errors were returned:</p>
                {{#each errors}}
                <ul class="error-list">
                    <li>{{this}}</li>
                </ul>
                {{/each}}
            </div>
            {{/if}}
            --}}
            {{#if error}}
            <p>{{error}}</p>
            {{/if}}
        </div>
        <form action="/users/login" method="post" id="login-form">
            <div class="form-group">
                <label for="username">
                    Username
                </label>
                <input type="text" name="username" id="username" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                    <input type="password" name="password" id="password" class="form-input">
                </label>
            </div>
            <div class="form-group form-submit">
                <input type="submit" name="submit" id="submit" class="form-input">
            </div>
        </form>
    </div>
</div>

<script type="module" src="../../public/js/validation/login.js"></script>