<div>
    <form action="/users/login" method="post" id="login-form">
        <div>
            <label for="username">
                Username
            </label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">
                Password
                <input type="password" name="password" id="password">
            </label>
        </div>
        <div>
            <input type="submit" name="submit" id="submit">
        </div>
        <input type="hidden" name="formType" value="login">
    </form>
</div>