<div class="content-wrapper-center">
    <div class="auth-form">
        {{#if error}}
            <p class="error-message">{{error}}</p>
        {{/if}}
        <form action="/users/login" method="post" id="login-form">
            <div class="form-group">
                <label for="username">
                    Username
                </label>
                <input type="text" name="username" id="username" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                    <input type="password" name="password" id="password" class="form-input">
                </label>
            </div>
            <div class="form-group form-submit">
                <input type="submit" name="submit" id="submit" class="form-input">
            </div>
        </form>
    </div>
</div>

<script type="module" src="../../public/js/validation/login.js"></script>