<div class="content-wrapper-center">
    <div class="auth-form">
        <div id="error-here">
            {{#if error}}
                <p class="error-message">{{error}}</p>
            {{/if}}
        </div>
        <form action="/users/register" method="post" id="register-form">
            <div class="form-group">
                <label for="username">
                    Username
                </label>
                <input type="text" name="username" id="username" class="form-input">
            </div>
            <div class="form-group">
                <label for="firstName">
                    First Name
                </label>
                <input type="text" name="firstName" id="firstName" class="form-input">
            </div>
            <div class="form-group">
                <label for="lastName">
                    Last Name
                </label>
                <input type="text" name="lastName" id="lastName" class="form-input">
                
            </div>
            <div class="form-group">
                <label>
                    Email
                </label>
                <input type="text" name="email" id="email" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" id="password" class="form-input">
            </div>
            <div class="form-group">
                <label for="confirmPassword">
                    Confirm Password
                </label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-input">
            </div>
            <div class="form-group">
                <label for="preferredBorough">
                    Preferred Borough
                </label>
                <select name="preferredBorough" id="preferredBorough" class="form-input">
                    <option value="">...</option>
                    <option value="bronx">Bronx</option>
                    <option value="brooklyn">Brooklyn</option>
                    <option value="manhattan">Manhattan</option>
                    <option value="queens">Queens</option>
                    <option value="staten island">Staten Island</option>
                </select>
            </div>
            <div class="form-group">
                <label for="preferredEventType">
                    Preferred Event Type
                </label>
                <select name="preferredEventType" id="preferredEventType" class="form-input">
                    <option value="">...</option>
                    <option value="Special Event">Special Event</option>
                    <option value="Sport - Adult">Sport - Adult</option>
                    <option value="Sport - Youth">Sport - Youth</option>
                    <option value="Production Event">Production Event</option>
                    <option value="Open Street Partner Event">Open Street Partner Event</option>
                    <option value="Plaza Partner Event">Plaza Partner Event</option>
                    <option value="Street Event">Street Event</option>
                    <option value="Religious Event">Religious Event</option>
                    <option value="Farmers Market">Farmers Market</option>
                    <option value="Sidewalk Sale">Sidewalk Sale</option>
                    <option value="Theater Load in and Load Outs">Theater Load in and Load Outs</option>
                    <option value="Parade">Parade</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Plaza Event">Plaza Event</option>
                    <option value="Block Party">Block Party</option>
                    <option value="Clean-Up">Clean-Up</option>
                </select>
            </div>
            <div class="form-group">
                <label for="birthday">
                    Birthday
                </label>
                <input type="date" name="birthday" id="birthday" class="form-input">
                <script>
                    const d = new Date();
                    const today = (d.toISOString().split("T")[0].split("-"))
                    const min = `${d.getFullYear()-122}-${today[1]}-${today[2]}`
                    const max = `${d.getFullYear()-13}-${today[1]}-${today[2]}`
                    let bdayInput = document.getElementById('birthday');
                    bdayInput.setAttribute('min',min);
                    bdayInput.setAttribute('max',max);
                </script>
            </div>
            <div class="form-group form-submit">
                <input type="submit" name="submit" id="submit" class="form-input">
            </div>
        </form>
    </div>
</div>

<script type="module" src="../../public/js/validation/register.js"></script>